<div class = "container">

<% @user.each do |p| %>
<div class = "user-row">
    <div class = "photo">
        <%= image_tag p.photo %>
    </div>
    <div class = "u-intro-details">
       <p class = "u-user-name"> <%= p.name  %> </p>
       <div class = "u-post-counter">
            <button> <%= link_to 'View profile', user_path(p) %></button>
            <p>Number of posts:  <%= p.posts_counter %></p>
       </div>
    </div>    
</div>

<%end%>
</div>