<h1>User pages </h1>
<% @user.each do |item| %>
   <div>
    <img src="<%= item.photo %>" alt="user-image">
    <span>
     <h3><%= item.name %></h3>
     <p>Number of post: <%= item.posts_counter %> </p>
    </span>
   </div> 
<% end %> 

