<div class = "container">

<% @user.each do |p| %>
<div class = "user-row">
    <div class = "photo">
        <%= image_tag p.photo %>
    </div>
    <div class = "intro-details">
       <p class = "user-name"> <%= p.name  %> </p>
       <p class = "post-counter">
            <button> <%= link_to 'View profile', user_path(p) %></button>
            Number of posts:  <%= p.posts_counter %> 
       </p>
       
    </div>    
</div>