/* user index style */
.container {
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .user-row {
    display: flex;
    gap: 20px;
  }
  .photo {
    height: 100px;
    width: 90px;
    border: solid 1px black;
  }
  